.banner{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/cineal.appspot.com/o/banner.jpg?alt=media&token=4bb7e6b2-af3b-49fc-b1b4-a7b465f81ed5");
    padding: 10% 30% 35% 20%;
    background-position: top center;
    background-size: cover;
}
.card{
    margin-top: 10%;
}

